:root{
    --myOrange: #F58321;
    --myGray: #605E5E;
}

html, body{
    margin-left:-10px;
    margin-right:-10px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
}

/*navigation panel */
.navigation {
    background-color: var(--myGray);  
    color: white;
    padding-top: 0.8em;
    font-family: 'Montserrat', sans-serif;
    
    /* So that it would show only after scrolling */
        position: fixed;
        top: 0px;
        width: 101%;
        z-index: 9999;
        display: none;
}

/* navigation list */
.navigation ul li{
    width: 15%;
    font-size: 1.3em;
}

/* what happen after you hover to the navigation list */
a:hover{
    color: var(--myOrange);
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#head .container{
    color: white;
}
.typewrite {
    color: white;
}

/* about section */
.about {
    padding-left: 15em;
    padding-right: 15em;
    background-color: azure;
}

.about h2{
    font-family: 'Montserrat', sans-serif;
}

/*
#aboutId {
    background-color: #eee;
}*/

/* project section */
.project h2{
    font-family: 'Montserrat', sans-serif;
}


/* resume section */
.resume h2 {
    font-family: 'Montserrat', sans-serif;
}

/* contact section */
.contact{
    background-color: var(--myOrange);  
    color: white;
}

.contact h2{
    font-family: 'Montserrat', sans-serif;
}

.contact p{
    color: black;
    font-size: 1.2em;
}

.contact button{
    color:black;
    font-size: 1.2em;
}

/* footer */
.footer{
    background-color: var(--myGray);
}

/* supposed to be logo */
.logo{
    display: inline-block;
    position: relative;
}

.logo .logoHover{
    display:none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.logo:hover .logoHover{
    display: inline;
    transition: 1s;
    cursor: pointer;
}

.logo:after{
    display:inline;
}

.space{
    visibility: hidden;
}

.line {
    background-color: transparent;
    border-top: grey;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.smallLine{
    background-color: transparent;
    border-top: grey;
    border-style: double;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 17%;
    margin: 0 auto;
    border-width: 1px;
}